@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

p.text-big {
  font-size: 2rem;
}

p.text-medium {
  font-size: 1.5rem;
}

p.text-small {
  font-size: 0.8rem;
}

img.icon-title {
  height: 60px;
}

img.icon {
  height: 30px;
  padding-left: 15px;
  padding-right: 5px;
}

div.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  height: 100vh;
  background-color: lightgrey;
}

/* Sidebar */

div.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 20px;
  background-color: skyblue;
}

div.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

div.sidebar-item-spacing {
  margin-bottom: 80px;
}

p.sidebar-item-title {
  padding-left: 10px;
  font-weight: bold;
}

p.sidebar-item-text {
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Top Section */

div.top-section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
}

div.top-section-top-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

div.top-section-top-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.top-section-bottom-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
}

div.top-section-bottom-right {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.searchbar {
  height: 30px;
  width: 500px;
  border-radius: 20px;
  background-color: lightgrey;
}

div.greeting {
  margin-left: 20px;
}

img.icon-greeting {
  height: 80px;
}

p.top-section-top-right-text {
  padding-left: 30px;
}

div.button {
  height: 50px;
  width: 100px;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-radius: 30px;
}

/* Main Section left */

div.main-section {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
}

div.main-section-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

p.main-section-left-title {
  display: flex;
  align-items: end;
}

div.card {
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: 20% 60% 20%;
  border-radius: 10px;
  background-color: white;
}

div.card-one {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

div.card-two {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

div.card-three {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

div.card-four {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

div.card-five {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

div.card-six {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

div.card-stripe {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  border-radius: 10px 0px 0px 10px;
  background-color: lightsalmon;
}

p.card-title {
  display: flex;
  align-items: end;
  font-weight: bold;
  padding: 0px 20px;
}

p.card-text {
  padding: 0px 20px;
}

div.card-icons {
  display: flex;
  justify-content: end;
  align-items: start;
  padding: 0px 20px;
}

/* Main Section right */

div.main-section-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px 1fr;
  padding: 20px;
}

p.main-section-right-title-one {
  display: flex;
  align-items: end;
}

div.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
}

p.main-section-right-title-two {
  display: flex;
  align-items: end;
}

div.list-item {
  display: flex;
  align-items: center;
}
